@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgray;
}

header {
    background-color: rgb(240, 183, 51);
    text-align: center;
    padding: 35px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.105);
}

h1 {
    padding-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.4em;
}

a#blog {
    color: white;
    text-decoration: none;
}

menu > a {
    text-decoration: none;
    color: white;
    padding: 8px;
}

menu > a:hover {
    transition-duration: 0.5s;
    background-color: white;
    color: rgb(240, 183, 51);
    border-radius: 10px;
}

div#principal {
    width: 650px;
    margin: 10px auto;
    padding: 10px;
}

div#post {
    float: left;
    width: 420px;
    margin: 10px 20px 20px 20px;
}

div#lateral {
    float: right;
    width: 190px;
    margin: 10px 20px 20px 20px;
    position: absolute;
    right: ;
    bottom: 30px;
}

.postagem {
    padding: 10px;
    margin: 10px 10px 20px 10px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.105);
    border-radius: 20px 0px;
}

.conteudo-lateral {
    background-color: white;
    padding: 10px;
    border-radius: 20px 0px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.105);
}

.categoria-lateral {
    background-color: white;
    padding: 10px;
    border-radius: 20px 0px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.105);
}

h2 {
    padding: 20px 20px 5px 20px;
    color: rgb(240, 183, 51);
}

h4 {
    font-weight: lighter;
    padding: 0px 20px 5px 20px;
}

p {
    text-align: justify;
    padding: 2px 30px 2px 30px;
}

img {
    display: block;
    margin: 8px auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.175);
    border-radius: 10px;
}

a#leia {
    padding: 2px 30px 50px 30px;
    text-decoration: none;
    color: rgb(255, 169, 63);
}

a#leia:hover {
    text-decoration: underline;
}

div > a#leia {
    padding: 2px 10px 5px 10px;
}

h3 {
    background-color: lightgray;
    padding: 10px 20px 10px 20px;
    border-radius: 20px 0px;
    margin-bottom: 5px;
}

a#home {
    display: block;
    padding: 2px 30px 2px 30px;
    text-decoration: none;
    color: rgb(255, 169, 63);
}

a#jogo {
    display: block;
    padding: 2px 30px 2px 30px;
    text-decoration: none;
    color: rgb(255, 169, 63);
}

a#cell {
    display: block;
    padding: 2px 30px 2px 30px;
    text-decoration: none;
    color: rgb(255, 169, 63);
}

a#info {
    display: block;
    padding: 2px 30px 2px 30px;
    text-decoration: none;
    color: rgb(255, 169, 63);
}

a#ele {
    display: block;
    padding: 2px 30px 2px 30px;
    text-decoration: none;
    color: rgb(255, 169, 63);
}

footer {
    background-color: rgb(184, 184, 184);
    text-align: center;
    margin: 0px auto 10px auto;
    width: 400px;
    border-radius: 20px 0px;
    padding: 20px;
    clear: both;
}

footer > h3#final {
    font-weight: 400;
    background-color: rgb(184, 184, 184);
}

h5 {
    font-weight: bold;
    color: black;
    text-align: right;
    padding: 5px;
}

h5 > a {
    text-decoration: none;
    color: darkorange;
}

h5 > a:hover {
    text-decoration: underline;
}